{% extends 'main/base.html' %}

{% block title %}
Контакты
{% endblock %}

{% block content %}
<h2 style=" color: white;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;font-size: 30px;">Служба клиентской поддержки c 09:00 до 19:00 (Бишкек)</h2>

<h1 style=" color: white;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;font-size: 30px;"> Телефон:             0776 501 509</h1>

<h1 style=" color: white;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;font-size: 30px;">0706 501 509</h1>

<h1 style=" color: white;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;font-size: 30px;"> W.app :                 0559 501 509 </h1>

<h1 style=" color: white;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;font-size: 30px;">0705 509 501 </h1>

<h1 style=" color: white;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;font-size: 30px;"> г.Ош:                     0507 501 509</h1>

<h2 style=" color: white;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;font-size: 30px;"> г. Жалал- Абад:  0703 501 509</h2>

<h2 style=" color: white;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;font-size: 30px;"> г. Баткен:              0771 501 509</h2>

<h1 style=" color: white;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;font-size: 30px;"> Адрес : г. Бишкек</h1>

<h1 style=" color: white;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;font-size: 30px;"> Ул. Киевская 65 </h1>
<h2 style=" color: white;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;font-size: 30px;"> Ул. Б. Юнусалиева  (7 мкрн 16Б/3 )</h2>

<h1 style=" color: white;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;font-size: 30px;">г.Ош,

    ул. Райымбекова 13 (старая ул. Зайнабитдинова)</h1>

<h2 style=" color: white;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;font-size: 30px;"> г. Жалал- Абад,

    ул. Н. Айтматовой 8 (Бакыт телеграф)</h2 >

<h1 style=" color: white;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;font-size: 30px;"> г. Баткен,

    ул. Нургазиевой (напротив Налоговой инспекции КР)</h1>

{% endblock %}